/*
Author: Suzanne Lucas
Date: 04/01/2024
File Name: styles08.css
*/

/* CSS Reset */
body, main, footer, thread, tbody, table, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #ffe5dc;
    font-family: sans-serif;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/*style rule for the table */
table {
	width: 80%;
	margin: 0 auto;
	border: 5px solid #fd4d0c;
    box-shadow: 10px 10px 10px #a22c02;
}

/*style rule for the table */
table, tr, th, td {
	border-collapse: collapse;
	padding: 1%;
}

/*style rule for the table caption */
caption {
	font: 2em;
	font-size: x-large;
	font-weight: bold;
	padding: 2%;
	margin-top: 2%;
    color: #a22c02
}

/*style rule for the table headers and cell data */
th, td {
	border: 1px solid;
}

th {
    color: white;
    background-color: #a22c02;
}

/*style rule for the table cell data*/
td {
	text-align: center;
}

/*style rule for the table row */
tr:nth-child(odd) {
	background-color: #fe9772;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}